@import "/src/app/constants/colors.scss";

:host {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navigation-bar {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: $colorWhite;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;

  .navigation {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .hamburger-icon {
    display: none;
    cursor: pointer;

    &:hover {
      img {
        filter: invert(49%) sepia(68%) saturate(2761%) hue-rotate(143deg)
          brightness(100%) contrast(101%);
      }
    }

    img {
      width: 30px;
    }
  }

  .header {
    font-size: 22px;
    cursor: pointer;

    .color1 {
      color: $primaryAccentColor;
    }

    .color2 {
      color: $secondaryAccentColor;
    }
  }
}

.link {
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &.active-page {
    color: $primaryAccentColor;
  }
}

.hambuger-menu {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;

  background-color: $colorWhite;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &.show {
    transform: translateY(0);
  }
}

// mobile
@media screen and (max-width: 600px) {
  .navigation {
    display: none !important;
  }

  .hamburger-icon {
    display: block !important;
  }

  .hambuger-menu {
    transform: translateY(100%);
  }
}
