<div class="navigation-bar" [class.page-loaded]="app.appInitialized$ | async">
  <div class="header" (click)="linkClickHandler('landing-page')">
    <span class="color1">taylor</span><span class="color2">nelson</span>.dev
  </div>
  <div class="navigation">
    <span
      class="link"
      [class.active-page]="currentPage === 'about-page'"
      (click)="linkClickHandler('about-page')"
      >About</span
    >
    <span
      class="link"
      [class.active-page]="currentPage === 'experience-page'"
      (click)="linkClickHandler('experience-page')"
      >Experience</span
    >
    <span
      class="link"
      [class.active-page]="currentPage === 'projects-page'"
      (click)="linkClickHandler('projects-page')"
      >Projects</span
    >
    <span
      class="link"
      [class.active-page]="currentPage === 'skills-page'"
      (click)="linkClickHandler('skills-page')"
      >Skills</span
    >
    <span
      class="link"
      [class.active-page]="currentPage === 'contact-page'"
      (click)="linkClickHandler('contact-page')"
      >Contact</span
    >
  </div>
  <div (click)="hamburgerClickHandler()" class="hamburger-icon">
    <img src="assets/hamburger.svg" />
  </div>
</div>

<div
  class="hambuger-menu"
  (click)="hamburgerClickHandler()"
  [class.show]="hamburgerMenuOpen"
>
  <h3 class="link" (click)="linkClickHandler('about-page')">About</h3>
  <h3 class="link" (click)="linkClickHandler('experience-page')">Experience</h3>
  <h3 class="link" (click)="linkClickHandler('projects-page')">Projects</h3>
  <h3 class="link" (click)="linkClickHandler('skills-page')">Skills</h3>
  <h3 class="link" (click)="linkClickHandler('contact-page')">Contact</h3>
</div>
