<div
  id="experience-page"
  class="page-wrapper"
  [class.current-page]="(app.currentPage$ | async) === 'experience-page'"
>
  <div class="page-content">
    <app-page-title
      title="Experience"
      supportingText="My journey so far"
    ></app-page-title>
    <div class="content-wrapper">
      <div class="text-content">
        <h3>
          My journey began in 2017 when I moved to the United States to study
          Computer Science at Emporia State University.
        </h3>
        <p>
          Here, I completed my undergraduate study and spent my final 2 years
          working as a Student Web Developer for ESU's IT Department. During
          this time, I was fortunate to play a part in some key projects
          including the redevelopment of the main university website and its
          subsidiaries as well as supporting ESU’s rapid shift to an increased
          reliance on online tools brought on by COVID-19.
        </p>
        <br />
        <h3>
          After graduating in 2021, I returned to New Zealand and accepted a
          Software Development position at the University of Canterbury.
        </h3>
        <p>
          Here, I have contributed to the development of UC's Student Management
          System consisting of three web-based applications leveraging Angular,
          Django and NodeJS. After several career milestones including acting as
          the lead UI developer for a period following the departure some key
          personal, I was promoted to the position of Associate Developer
          towards the end of 2022.
        </p>
      </div>
      <div class="timeline-content">
        <div class="arrow-wrapper">
          <div class="arrow"></div>
          <div class="arrow-dot top"></div>
          <div class="arrow-dot bottom"></div>
        </div>

        <div class="timeline-item-wrapper">
          <span class="small-text horizontal">2022</span>
          <div class="timeline-item-content">
            <span class="timeline-item-header"
              >Associate Software Developer</span
            >
            <span class="small-text bold">University of Canterbury</span>
            <span class="small-text">7 months · Full-time</span>
          </div>
        </div>

        <div class="timeline-item-wrapper">
          <span class="small-text horizontal">2021</span>
          <div class="timeline-item-content">
            <span class="timeline-item-header"
              >Graduate Software Developer</span
            >
            <span class="small-text bold">University of Canterbury</span>
            <span class="small-text">1 year · Full-time</span>
          </div>
        </div>

        <div class="timeline-item-wrapper">
          <span class="small-text horizontal">2019</span>
          <div class="timeline-item-content">
            <span class="timeline-item-header">Student Web Developer</span>
            <span class="small-text bold">Emporia State University</span>
            <span class="small-text">2 years · Part-time</span>
          </div>
        </div>

        <div class="timeline-item-wrapper">
          <span class="small-text horizontal">2017</span>
          <div class="timeline-item-content">
            <span class="timeline-item-header">BS - Computer Science</span>
            <span class="small-text bold">Emporia State University</span>
            <span class="small-text">Mathematics · Information Systems</span>
            <span class="small-text">NCAA Tennis</span>
            <span class="small-text">4 years</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
