<div id="about-page" class="page-wrapper alt-background-color">
  <div class="page-content">
    <h2><span class="bold color">About</span> - Get to know me</h2>
    <h3>
      I am a passionate Front-End Software Developer with over 3 years of
      experience building modern, responsive websites and web based
      applications.
    </h3>
    <p>
      My journey to becoming a Software Developer began in 2017 when I moved to
      the United States to study Computer Science at Emporia State University
      (ESU). Here, I completed my undergraduate study and also spent 2 years
      working as a Student Web Developer for ESU's IT Department.
    </p>
    <br />
    <p>
      After graduating in 2021, I returned to my home country of New Zealand to
      begin my first full time position at the University of Canterbury (UC) as
      a Software Developer. Here, I am a member of the team responsible for the
      development of UC's web-based Student Management System. I have primiarly
      focussed on development of the frontend via Angular, although I also have
      experience developing our backend leveraging Django, OutSystems and
      NodeJS.
    </p>
    <h3 class="outro-text">
      In my spare time I enjoy playing tennis, hiking, and devouring Mexican
      food 🌯
    </h3>
  </div>
</div>
