<div id="about-page" class="page-wrapper alt-background-color">
  <div class="page-wrapper-inner">
    <app-page-title
      title="About"
      supportingText="Get to know me"
    ></app-page-title>
    <div class="page-content">
      <div class="image-wrapper">
        <img
          class="profile-picture"
          src="assets/profile-picture-beach.jpg"
          alt="Me at the beach"
        />
      </div>
      <div>
        <h3>
          Hello! My name is Taylor, and I am a passionate software developer. I
          have over 3 years of professional experience building modern,
          responsive websites and web-based applications.
        </h3>
        <p>
          I see myself as a very enthusiastic person and have a love for
          learning new things and collaborating with like-minded individuals on
          challenging projects. Whether I am working on a project by myself or
          as part of a team, I always strive to bring my best to the table.
        </p>
        <h3 class="outro-text">
          When I'm not coding, you can usually find me on the tennis court,
          hiking, or trying out a new Mexican restaurant. 🌯
        </h3>
      </div>
    </div>
  </div>
</div>
