<div id="about-page" class="page-wrapper alt-background-color">
  <div class="page-content">
    <app-page-title
      title="About"
      supportingText="Get to know me"
    ></app-page-title>
    <h3>
      I am a passionate Fullstack Software Developer with over 3 years of
      professional experience building modern, responsive websites and web based
      applications.
    </h3>
    <p>
      My journey began in 2017 when I moved to the United States to study
      Computer Science at Emporia State University (ESU). Here, I completed my
      undergraduate study and also spent 2 years working as a Student Web
      Developer for ESU's IT Department. During this time I was fortunate to
      play a part in ESU's development and deployment of various new websites
      including a full scale redesign of the main university website.
    </p>
    <br />
    <p>
      After graduating in 2021, I returned to my home country of New Zealand to
      begin my first full-time position at the University of Canterbury (UC) as
      a Software Developer. Here, I am a member of the team responsible for the
      development of UC's web-based Student Management System. I have primarily
      focussed on development of the frontend of our three web based
      applications via Angular, although I also contribute to the backend
      leveraging Django and NodeJS.
    </p>
    <h3 class="outro-text">
      In my spare time I enjoy playing tennis, hiking, and devouring Mexican
      food 🌯
    </h3>
  </div>
</div>
