:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
  border-radius: 20px;
  box-shadow: #00000059 0 5px 15px;
  background-color: #fff;
  padding: 20px;
  opacity: 0;
  transform: translateY(30%);
  transition: all 0.5s ease-in-out;

  .title-wrapper {
    span {
      display: block;
    }

    .title {
      padding: 0;
      font-size: 18px;
    }
  }

  .position {
    display: flex;
    gap: 20px;
    align-items: center;

    img {
      width: 22px;
      height: 22px;
    }

    .position-details {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 16px;
      }
    }
  }
}

.subtext {
  font-size: 14px;
}
