@import "/src/app/constants/colors.scss";

.skill-bar-wrapper {
  height: 3.5px;
  background-color: $colorBlack;
  width: 100%;
  margin: 10px 0;

  .skill-bar {
    height: 100%;
    background-color: $primaryAccentColor;
  }
}
