<div
  id="landing-page"
  class="page-wrapper"
  [class.in-viewport]="(app.currentPage$ | async) === 'landing-page'"
>
  <div class="page-content">
    <div #testDiv class="intro-wrapper">
      <div class="intro-message">
        <span class="large-text"
          >Hi, I'm Taylor <span class="wave-emoji">👋</span></span
        >
        <span>I'm a Fullstack Software Developer</span>
        <span>currently based in Christchurch, New Zealand 📍</span>
      </div>
      <div class="intro-links">
        <a target="_blank" href="https://www.linkedin.com/in/taylor-w-nelson/"
          ><img alt="linkedin icon" src="assets/linkedin.svg"
        /></a>
        <a target="_blank" href="https://github.com/taywalnel">
          <img alt="github icon" src="assets/github.svg" />
        </a>
        <a href="mailto: taywalnel@gmail.com"
          ><img alt="email icon" src="assets/email.svg"
        /></a>
      </div>
    </div>
  </div>
</div>
