<div
  id="landing-page"
  class="page-wrapper"
  [class.in-viewport]="(app.currentPage$ | async) === 'landing-page'"
  [class.page-loaded]="app.pageInitialized$ | async"
>
  <div class="page-wrapper-inner">
    <div class="avatar-wrapper">
      <img
        (load)="handleAvatarImgLoad()"
        class="avatar"
        src="assets/avatar.svg"
      />
    </div>
    <div class="intro-wrapper">
      <div class="intro-message">
        <span class="large-text"
          >Hi, I'm Taylor <span class="wave-emoji">👋</span></span
        >
        <p>Software Developer</p>
      </div>
      <div class="intro-links">
        <div class="scale-in">
          <a target="_blank" href="https://www.linkedin.com/in/taylor-w-nelson/"
            ><img alt="linkedin icon" src="assets/linkedin.svg"
          /></a>
        </div>
        <div class="scale-in">
          <a target="_blank" href="https://github.com/taywalnel">
            <img alt="github icon" src="assets/github.svg" />
          </a>
        </div>
        <div class="scale-in">
          <a href="mailto: taywalnel@gmail.com"
            ><img alt="email icon" src="assets/email.svg"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
