@import "constants/colors.scss";

.root {
  overflow-x: hidden;

  font-family: "Manrope", sans-serif;
}

.footer {
  height: 100px;
  background-color: $colorGrey;
  display: grid;
  place-items: center;

  p {
    font-size: 14px;
  }
}
