<div class="root">
  <app-navigation-bar></app-navigation-bar>
  <app-landing-page></app-landing-page>
  <app-page-divider [whiteToGrey]="true"></app-page-divider>
  <app-about-page></app-about-page>
  <app-page-divider [whiteToGrey]="false"></app-page-divider>
  <app-experience-page></app-experience-page>
  <app-page-divider [whiteToGrey]="true"></app-page-divider>
  <app-projects-page></app-projects-page>
  <app-page-divider [whiteToGrey]="false"></app-page-divider>
  <app-skills-page></app-skills-page>
  <app-page-divider [whiteToGrey]="true"></app-page-divider>
  <app-contact-page></app-contact-page>
  <app-page-divider [whiteToGrey]="false"></app-page-divider>
  <div class="footer">
    <p>&copy; Taylor Nelson 2023</p>
  </div>
</div>
