<div class="root">
  <app-navigation-bar></app-navigation-bar>
  <app-landing-page></app-landing-page>
  <img
    class="curve-divider offset"
    src="assets/curve-divider-white-to-grey.svg"
  />
  <app-about-page></app-about-page>
  <img class="curve-divider" src="assets/curve-divider-grey-to-white.svg" />
  <app-projects-page></app-projects-page>
  <img
    class="curve-divider offset"
    src="assets/curve-divider-white-to-grey.svg"
  />
  <app-skills-page></app-skills-page>
  <img class="curve-divider" src="assets/curve-divider-grey-to-white.svg" />
  <app-contact-page></app-contact-page>
  <img
    class="curve-divider offset"
    src="assets/curve-divider-white-to-grey.svg"
  />
  <div class="footer">
    <p>&copy; Taylor Nelson 2023</p>
  </div>
</div>
