<div
  id="projects-page"
  class="page-wrapper alt-background-color"
  [class.current-page]="(app.currentPage$ | async) === 'projects-page'"
>
  <div class="page-content">
    <app-page-title
      title="Projects"
      supportingText="My recent creations"
    ></app-page-title>
    <div class="intro-wrapper">
      <h3>
        The following projects were designed and developed by me completely from
        scratch. I hope you enjoy these as much as I enjoyed creating them!
      </h3>
    </div>

    <div class="projects-wrapper">
      <div class="project-wrapper">
        <div class="project-details">
          <div class="description">
            <h3>Sleek Solitaire</h3>
            <p>Play classic Klondike solitaire.</p>
          </div>
          <div class="tech-stack">
            <div class="tech">
              <img src="assets/angular.svg" />
              <span>Angular</span>
            </div>
            <div class="tech">
              <img src="assets/css.svg" />
              <span>SCSS</span>
            </div>
            <div class="tech">
              <img src="assets/rxjs.svg" />
              <span>RxJS</span>
            </div>
            <div class="tech">
              <img src="assets/aws.svg" />
              <span>Amplify</span>
            </div>
          </div>
          <div class="links">
            <a href="https://www.sleeksolitaire.com/" target="_blank">
              <div class="link">
                <img src="assets/link.svg" />
                <span>Demo</span>
              </div>
            </a>
            <a
              href="https://github.com/taywalnel/sleek-solitaire"
              target="_blank"
            >
              <div class="link">
                <img src="assets/github.svg" />
                <span>Code</span>
              </div>
            </a>
          </div>
        </div>
        <img class="project-image" src="assets/sleeksolitaire2.png" />
      </div>
      <div class="project-wrapper">
        <div class="project-details">
          <div class="description">
            <h3>Bracket builder</h3>
            <p>Create interactive tournament brackets.</p>
          </div>
          <div class="tech-stack">
            <div class="tech">
              <img src="assets/react.svg" />
              <span>React</span>
            </div>
            <div class="tech">
              <img src="assets/firebase.svg" />
              <span>Firebase</span>
            </div>
            <div class="tech">
              <img src="assets/firebase.svg" />
              <span>Cloud Firestore</span>
            </div>
            <div class="tech">
              <img src="assets/aws.svg" />
              <span>Amplify</span>
            </div>
          </div>
          <div class="links">
            <a
              href="https://production.dc1gy6hptsarm.amplifyapp.com"
              target="_blank"
            >
              <div class="link">
                <img src="assets/link.svg" />
                <span>Demo</span>
              </div>
            </a>
            <a
              href="https://github.com/taywalnel/bracket-builder"
              target="_blank"
            >
              <div class="link">
                <img src="assets/github.svg" />
                <span>Code</span>
              </div>
            </a>
            <a
              href="https://www.figma.com/file/HbW1AOsd2PQCzuE5nvhuLj/Bracket-builder?type=design&node-id=0%3A1&t=T2r53tofDgDV8J5d-1"
              target="_blank"
            >
              <div class="link">
                <img src="assets/figma.svg" />
                <span>Figma</span>
              </div>
            </a>
          </div>
        </div>
        <img class="project-image" src="assets/bracketbuilder.png" />
      </div>
    </div>
  </div>
</div>
