<div id="projects-page" class="page-wrapper">
  <div class="page-content">
    <h2><span class="bold color">Projects</span> - My recent creations</h2>
    <div class="project-wrapper">
      <div class="project-details">
        <div class="description">
          <h3>Sleek Solitaire</h3>
          <p>A simple web based solitaire game.</p>
        </div>
        <div class="tech-stack">
          <div class="tech">
            <img src="assets/angular.svg" />
            <span>Angular</span>
          </div>
          <div class="tech">
            <img src="assets/css.svg" />
            <span>SCSS</span>
          </div>
          <div class="tech">
            <img src="assets/rxjs.svg" />
            <span>RxJS</span>
          </div>
        </div>
        <div class="links">
          <a href="https://www.sleeksolitaire.com/" target="_blank">
            <div class="link">
              <img src="assets/link.svg" />
              <span>Demo</span>
            </div>
          </a>
          <a
            href="https://github.com/taywalnel/sleek-solitaire"
            target="_blank"
          >
            <div class="link">
              <img src="assets/github.svg" />
              <span>Code</span>
            </div>
          </a>
        </div>
      </div>
      <img class="project-image" src="assets/sleeksolitaire2.png" />
    </div>
  </div>
</div>
