<div id="projects-page" class="page-wrapper alt-background-color">
  <div class="page-content">
    <app-page-title
      title="Projects"
      supportingText="My recent creations"
    ></app-page-title>
    <div class="projects-wrapper">
      <div class="project-wrapper">
        <div class="project-details">
          <div class="description">
            <h3>Sleek Solitaire</h3>
            <p>A web based solitaire game.</p>
          </div>
          <div class="tech-stack">
            <div class="tech">
              <img src="assets/angular.svg" />
              <span>Angular</span>
            </div>
            <div class="tech">
              <img src="assets/typescript.svg" />
              <span>TypeScript</span>
            </div>
            <div class="tech">
              <img src="assets/css.svg" />
              <span>SCSS</span>
            </div>
            <div class="tech">
              <img src="assets/rxjs.svg" />
              <span>RxJS</span>
            </div>
            <div class="tech">
              <img src="assets/aws.svg" />
              <span>Amplify</span>
            </div>
          </div>
          <div class="links">
            <a href="https://www.sleeksolitaire.com/" target="_blank">
              <div class="link">
                <img src="assets/link.svg" />
                <span>Demo</span>
              </div>
            </a>
            <a
              href="https://github.com/taywalnel/sleek-solitaire"
              target="_blank"
            >
              <div class="link">
                <img src="assets/github.svg" />
                <span>Code</span>
              </div>
            </a>
          </div>
        </div>
        <img class="project-image" src="assets/sleeksolitaire.png" />
      </div>

      <div class="project-wrapper">
        <div class="project-details">
          <div class="description">
            <h3>Bracket Builder</h3>
            <p>Create interactive tournament brackets.</p>
          </div>
          <div class="tech-stack">
            <div class="tech">
              <img src="assets/react.svg" />
              <span>React</span>
            </div>
            <div class="tech">
              <img src="assets/javascript.svg" />
              <span>JavaScript</span>
            </div>
            <div class="tech">
              <img src="assets/firebase.svg" />
              <span>Firebase</span>
            </div>
            <div class="tech">
              <img src="assets/aws.svg" />
              <span>Amplify</span>
            </div>
          </div>
          <div class="links">
            <a
              href="https://github.com/taywalnel/bracket-builder"
              target="_blank"
            >
              <div class="link">
                <img src="assets/github.svg" />
                <span>Code</span>
              </div>
            </a>
          </div>
        </div>
        <img class="project-image" src="assets/sleeksolitaire.png" />
      </div>
    </div>
  </div>
</div>
