.intro {
  width: 100%;
  padding-bottom: 40px;
}

.skills {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.skill-wrapper {
  display: flex;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .icon-wrapper {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 120px;
    height: 120px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-sizing: border-box;
  }

  img {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 700px) {
  .skills {
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}
