<div id="skills-page" class="page-wrapper alt-background-color">
  <div class="page-content">
    <h2><span class="bold color">Skills</span> - My expertise</h2>
    <p class="intro">
      My strengths lie in my genuine enthusiasm for crafting great software. I
      enjoy pushing the boundaries and implementing cutting edge technology to
      create unique experiences that leave an imprint on the end user.
    </p>
    <div class="skills">
      <app-skill-type
        title="Frontend"
        [skills]="skills.frontend"
      ></app-skill-type>
      <app-skill-type
        title="Backend"
        [skills]="skills.backend"
      ></app-skill-type>
      <app-skill-type
        title="Additional"
        [skills]="skills.additional"
      ></app-skill-type>
    </div>
  </div>
</div>
