<div
  id="skills-page"
  class="page-wrapper"
  [class.current-page]="
    (currentPageService.currentPage$ | async) === 'skills-page'
  "
>
  <div class="page-wrapper-inner">
    <app-page-title
      title="Skills"
      supportingText="My expertise"
    ></app-page-title>
    <div class="skills">
      <div *ngFor="let skill of skillsConfig" class="skill-wrapper">
        <div class="skill">
          <div class="icon-wrapper">
            <img
              [src]="'/assets/' + skill.iconType + '.svg'"
              alt="skill icon"
            />
          </div>
          <p>{{ skill.label }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
