<div id="skills-page" class="page-wrapper alt-background-color">
  <div class="page-content">
    <app-page-title
      title="Skills"
      supportingText="My expertise"
    ></app-page-title>
    <h3 class="intro">
      My strengths lie in my genuine enthusiasm for crafting great software. I
      enjoy pushing the boundaries and implementing cutting edge technology to
      create unique experiences that leave an imprint on the end user.
    </h3>
    <div class="skills">
      <div class="skill-type">
        <div class="skills-wrapper">
          <h3>Frontend</h3>
          <ng-container *ngFor="let skill of skills.frontend">
            <div class="skill">
              <h4>{{ skill.label }}</h4>
              <app-skill-bar
                [skillWidth]="skill.rating"
                [triggerAnimation]="triggerAnimation"
              ></app-skill-bar>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="skill-type">
        <div class="skills-wrapper">
          <h3>Backend</h3>
          <ng-container *ngFor="let skill of skills.backend">
            <div class="skill">
              <h4>{{ skill.label }}</h4>
              <app-skill-bar
                [skillWidth]="skill.rating"
                [triggerAnimation]="triggerAnimation"
              ></app-skill-bar>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="skill-type">
        <div class="skills-wrapper">
          <h3>Additional</h3>
          <ng-container *ngFor="let skill of skills.additional">
            <div class="skill">
              <h4>{{ skill.label }}</h4>
              <app-skill-bar
                [skillWidth]="skill.rating"
                [triggerAnimation]="triggerAnimation"
              ></app-skill-bar>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
