<div id="contact-page" class="page-wrapper">
  <div class="page-content">
    <h2>Get in touch with me!</h2>
    <h3 class="intro">
      Thanks for stopping by! I am responsive on both Linkedin and email so feel
      free to reach out.
    </h3>
    <div class="contact-details">
      <a target="_blank" href="https://www.linkedin.com/in/taylor-w-nelson/">
        <div class="contact-field">
          <img class="large-icon" src="assets/linkedin.svg" />
          <div>
            <h4>Linkedin</h4>
            <p>taylor-w-nelson</p>
          </div>
        </div>
      </a>
      <a href="mailto: taywalnel@gmail.com">
        <div class="contact-field">
          <img class="large-icon" src="assets/email.svg" />
          <div>
            <h4>Email</h4>
            <p>taywalnel@gmail.com</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
